/*body 초기화*/
/*font-family:"Roboto", serif;*/
body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    width: 100%;
    height: 100%;

  }
img{display: block; margin: auto; }
#Menu_logo{
  display:inline-block;vertical-align:top;
  font: verdana, sans-serif;
  color: #096622fb;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  background-color: #ffffff;
  margin: 0px;
  padding:0px;
  margin-top: 10px;
  margin-bottom: 7px;

}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  position: relative; left: 0px; right:0px;
  border: #084e22;
  background: linear-gradient(90deg, #053715, #066d1d, #4d8b0a, #85b101, #9fdf14);
  background: #096622fb;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  display: inline-block;
  position: relative;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}
/*background:#182952;*/
#sub-menu {
  position: absolute;
  background: #084e22;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  background: linear-gradient(180deg, #dadadf,#ffffffda,#ffffffe1,#ffffff);
  padding: 2em 12em;
  display:inline-block;
  vertical-align:top;
  font: verdana, sans-serif;
  margin: 0px;
  text-align: center;
  column-width: 18em;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ffffffbc,#ffffffda,#ffffffea,#ffffff),url('../asset/logoGreen.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40%; 
  background-position-x: center;
  background-position-y: 200%;
}
#contents{
  width: 90%;
  margin-left: 5%;
  margin-right:5%;
}
#brandlogo{
  margin:3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 4%;
  text-align: right;
  align-items: right;
  width: 10%;
 }

#downdeco{
  display:inline-block;
  vertical-align:top;
  font: verdana, sans-serif;
  color: #ffffffb8;
  background-color: #096622fb;
  margin: 0px;
  padding: 10px; 
  text-align: left;
  font-size: 70%; 
  width: 100% ;

}
#update{
  display: inline-block;
  margin-left: 300px;
}

#div1 {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  height: 0px;
  -webkit-transform: scale(1);
}

.move_scale {
  -webkit-animation-name: animation_scale;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both
}

.move_to_right {
  -webkit-animation-name: animation_move;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both
}

@-webkit-keyframes animation_scale {
  0% {
      -webkit-transform: translateX(-1000px) translateY(0px) scale(1);
      opacity: 0;
  }


  100% {
      -webkit-transform: translateX(0px) translateY(0px) scale(1);
  }
}

@-webkit-keyframes animation_move {
  0% {
      -webkit-transform: translateX(-1000px) translateY(0px) scale(1);
  }

  100% {
      -webkit-transform: translateX(1000px) translateY(0px) scale(1);
  }
}

