/*body 초기화*/
/*font-family:"Roboto", serif;*/
body {
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    background-image: url('../asset/logoGreen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%; 
    background-position: center;
  }
img{display: block; margin: auto; }
#Menu_logo{
  display:inline-block;vertical-align:top;
  font: verdana, sans-serif;
  color: #096622fb;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  background-color: #ffffff;
  margin: 0px;
  padding:0px;
  margin-top: 10px;
  margin-bottom: 7px;

}

h1 {
  margin: 2em 0 1.5em 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  border: #084e22;
  background: linear-gradient(90deg, #053715, #066d1d, #4d8b0a, #85b101, #9fdf14);
  background: #096622fb;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
}

#main-menu > li > a {
  font-size: 0.85rem;
  color: rgba(255,255,255,0.85);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 14px 36px;
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}
/*background:#182952;*/
#sub-menu {
  position: absolute;
  background: #084e22;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}

#sub-menu > li {
  padding: 16px 28px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#sub-menu > li >  a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  background: linear-gradient(180deg, #dadadf,#ffffffda,#ffffff,#ffffff);
  padding: 2em 12em;
  display:inline-block;
  vertical-align:top;
  font: verdana, sans-serif;
  margin: 0px;
  text-align: center;
  column-width: 17em;
  height: 32em;
  
  
}

#downdeco{
  display:inline-block;
  vertical-align:top;
  font: verdana, sans-serif;
  color: #ffffffb8;
  background-color: #096622fb;
  margin: 0px;
  padding: 10px; 
  text-align: left;
  font-size: 70%; 
  width: 100% ;

}

